VITE_API_URL=http://localhost:3000
VITE_GOOGLE_CLIENT_ID=your-client-id.apps.googleusercontent.com
VITE_GITHUB_URL=your-github-url
VITE_LINKEDIN_URL=your-linkedin-url
VITE_LEETCODE_URL=your-leetcode-url
VITE_AVATAR_URL=your-avatar-url